*{
margin:0;
padding:0;
}
   .body{
    display: flex;
    align-items: center;
    justify-content: center;
   }


  

.signup-box{
width: 320px;
height: 620px;
margin: auto;
background-color: rgb(208, 215, 228);
border-radius: 2%;

}


.h1{
   display: flex;
   align-items: center;
   justify-content: center;


}


.form{
    width: 300px;
    margin-left: 20px;
}


form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}


form input{
width: ;
padding: 7px;
border: none;
border: 1px solid gray;
border-radius: 6px;
outline: none;

input{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: aqua;
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}












}

